
.nav {
   grid-area: nav;
   background-color: rgb(215, 143, 34);
   padding: 20px;
}

.item {
   text-decoration: none;
   color: rgb(18, 230, 233);
}

.active {
   text-decoration: none;
   color: rgb(89, 6, 172);
}
