
.nav {
   grid-area: nav;
   background-color: rgb(215, 109, 34);
   padding: 20px;
}

.item {
   text-decoration: none;
   color: rgb(18, 230, 233);
}

.active {
   margin: -5px;
   text-decoration: none;
   color: gold;
}
