
.header {
   grid-area: header;
   background-color: rgb(76, 194, 76);

}
.header img {
   width: 50px;
   border-radius: 50%;
   padding: 5px 0 0 5px;
}

.loginBlock {
   float: right;
   padding: 10px;
}

.loginBlock a {
   color: white;
}

.checkbox {
   color: rgb(60, 255, 0);
}

