
.dialogsField {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   padding: 5px;
}

.dialog {
   text-decoration: none;
   color: #fff;
   padding: 5px;
}

.active {
   text-decoration: none;
   color: gold;
}

.messages {
 /*
   display: flex;
   flex-direction: column;
*/
   color: #fff;
}

.message {
   /*
   flex: 1 1 auto;
   */
}

.textarea {

}

.button {

}