
.dialogs {
   display: grid;
   grid-template-columns: 2fr 10fr;
}

.dialogsItems {
   padding: 5px;
}

.dialog {
   padding: 5px;

}
.dialog.active {
 color: rgb(255, 243, 80);
}

.messages {
   padding: 5px;
}

.message {

}